<div *ngIf="blog" class="mb-3">
    <h2>{{blog.title | uppercase}}</h2>
    <a routerLink="/edit/{{id}}" class="btn btn-warning btn-sm edit-post-btn">Edit Post</a>
    <button class="btn btn-danger btn-sm delete-post-btn" title="Delete" (click)="deletePost(blog,id)">Delete</button>
    <div><span>Author: </span>{{blog.author}}</div>
    <div><span>Categories: </span>{{blog.categories}}</div>
    <div class="blog-content-xl"><p [innerHTML]="blog.content"></p></div>
    <div><span>Last updated on: </span>{{blog.date}}</div>
  </div>
  <button (click)="goBack()" class="btn btn-dark">Back</button>