<h2>All Posts</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor='let blog of blogPosts'>
      <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title blog-title">{{blog.title | uppercase}}</h5>
            <p class="card-text blog-author"><small class="text-muted">Posted by {{blog.author}}</small></p>
            <p class="card-text blog-categories"><small class="text-muted">Categories: {{blog.categories}}</small></p>
            <p class="card-text blog-content text-truncate text-nowrap">{{blog.content}}</p>
          </div>
        <div class="card-footer">
            <a routerLink="/detail/{{blog._id}}" class="btn btn-info btn-sm read-more-btn">Read More</a>
            <a routerLink="/edit/{{blog._id}}" class="btn btn-warning btn-sm edit-post-btn">Edit Post</a>
            <button class="btn btn-danger btn-sm delete-post-btn" title="Delete" (click)="deletePost(blog,blog._id)">Delete</button>
          <p><small class="text-muted blog-date">Last updated on {{blog.date}}</small></p>
        </div>
      </div>
    </div>
  </div>


