<h2>Edit Post</h2>
<div *ngIf="blog" class="row g-3">
    <div class="col-12 mb-3">
        <label for="blog-title-input" class="form-label">Blog Title: </label>
        <input id="blog-title-input" [(ngModel)]="blog.title" placeholder="Blog Title" class="form-control">
    </div>
    <div class="col-12 mb-3">
        <label for="blog-author-input" class="form-label">Blog Author Name: </label>
        <input id="blog-author-input" [(ngModel)]="blog.author" placeholder="Blog Author" class="form-control">
    </div>
    <div class="col-12 mb-3">
        <label for="blog-categories-input" class="form-label">Blog Categories: </label>
        <input id="blog-categories-input" [(ngModel)]="blog.categories" placeholder="Blog Categories" class="form-control">
    </div>
    <div class="col-12 mb-3">
        <label for="blog-content-input" class="form-label">Blog Content: </label>
        <textarea id="blog-content-input" [(ngModel)]="blog.content" rows=15 cols=100 class="form-control"></textarea>
    </div>
    <div class="col-12 mb-3">
        <button (click)="savePost()" class="btn btn-warning btn-large">Update Post</button>
        <button type="reset" class="btn btn-dark btn-large">Clear</button>
    </div>
</div>