<h2>Add New Post</h2>
<form #f="ngForm" (ngSubmit)="publishPost(f)" class="row g-3">
    <div class="col-12 mb-3">
        <label for="blog-title-input" class="form-label">Blog Title: </label>
        <input id="blog-title-input" placeholder="Developer Blog" name="title" class="form-control" ngModel>
    </div>
    <div class="col-12 mb-3">
        <label class="form-label" for="blog-author-input">Blog Author Name: </label>
        <input id="blog-author-input" placeholder="John Smith" name="author" class="form-control" ngModel>
    </div>
    <div  class="col-12 mb-3">
        <label class="form-label" for="blog-categories-input">Blog Categories: </label>
        <input id="blog-categories-input" placeholder="Development,Web Development,Software Development" name="categories" class="form-control" ngModel>
    </div>
    <div class="col-12 mb-3">
        <label class="form-label"  for="blog-content-input">Blog Content: </label>
        <textarea id="blog-content-input" rows=15 cols=100 name="content" class="form-control" ngModel></textarea>
    </div>
    <div class="col-12 mb-3">
        <button class="btn btn-success btn-large" type="submit">Publish Post</button>
        <button type="reset" class="btn btn-dark btn-large">Clear</button>
    </div>
</form>    