<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/dashboard">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/blogposts">All Posts</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/addpost">Add New Post</a></li>
        </ul>
        </div>
      </nav>
    <router-outlet></router-outlet>
</div>