<div id="carousel-display" class="carousel carousel-dark slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/images/1.jpg" class="d-block w-100" alt="Developer">
        <div class="carousel-caption d-none d-md-block">
          <p class="display-4">Developer Notes</p>
          <p class="h3 sub-text">Learn something new everyday</p>
        </div>
      </div>
    </div>
  </div>